.user-header-button {
    font-size: 14px;
    float: right;
    margin-top: 6px;
}

edit-user-container {
    display: flex;
    flex-direction: column;
}

.edit-user-container>* {
    width: 100%;
}

.edit-user-submit {
    margin-top: 10px;
}
